/* This is the style code for Excursion */

* {
  font-family: Verdana, sans-serif;
  background-color: Black;
  text-align: center;
  color: white;
}

/* This is the Main Section */
h1 {
  font-size: 50px;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

/* This is the Support section */
h2 {
  font-weight: 300;
  font-size: 42px;
}
p {
    font-size: 21px;
    color: gray;
}

/* This is the close */
.copy {
  text-align: right;
}
