/* This is the style code for Excursion */

* {
  font-family: Verdana, sans-serif;
  background-color: Black;
  text-align: center;
  color: white;
}

/* This is the Headline Section */
#discover h1 {
  font-weight: normal;
  font-size: 50px;
}
#discover a {
  color: aquamarine;
  font-size: 16px;
}

/* This is the personal section */
#personal h1 {
  font-weight: 300;
  font-size: 42px;
}
#personal p {
    font-size: 21px;
    color: gray;
  }
}
